@model CreatePostVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

<h2>Create Post:</h2>

<form asp-controller="Post" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3 ">
        <label asp-for="Post.InsertDate" class="form-label" ></label>
        <input asp-for="Post.InsertDate" class="form-control" />
        <span asp-validation-for="Post.InsertDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Post.Title" class="form-label"></label>
        <input asp-for="Post.Title" class="form-control" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Post.Content" class="form-label"></label>
        <textarea asp-for="Post.Content" class="form-control"></textarea>
        <span asp-validation-for="Post.Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" class="form-control" type="file" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}