@model Post
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

<h2>Create Post:</h2>

<form asp-controller="Post" asp-action="Create" method="post">
    <div class="mb-3 ">
        <label asp-for="InsertDate" class="form-label" ></label>
        <input asp-for="InsertDate" class="form-control"/>
        <span asp-validation-for="InsertDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label" ></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label" ></label>
        <textarea asp-for="Content" class="form-control" ></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}