@model IEnumerable<Post>
@{
    ViewData["Title"] = "Posts";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/css/PageCard.css" />
}

<a asp-action="Create" >Create Post</a>
<h2> Posts: </h2>


<div class="row">
    @if (!Model.Any())
    {
        <p>Currently there are no Posts available ..</p>
    }
    else
    {
        foreach (var post in Model)
        {
            <div class="col-lg-6">
                @{
                    var DetailsAction = Url.Action("Detail", new { id = post.ID });
                }
                <a href="@DetailsAction" class="text-decoration-none text-reset">
                    @{Html.RenderPartial("_PostCard", post);}
                </a>
            </div>
        }
    }
    
</div>